<div id="wrapper">


        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav ">
                <li class="sidebar-brand">
                    <a href="guardHP.html">
                        Profile
                    </a>
                </li>

                <li>
                    <a href="#">Change Password</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
            </ul>
        </div>

          <form   class="simple-from" ng-submit="update(user)">
        <div class="row">


        <!--First column-->
        <div> <h1>Edit the Guard details</h1></div>


        <div class="col-md-4">

            <img src="https://s32.postimg.org/bubza536t/image.jpg" width="180" height="200" />
            <i class="fa fa-edit prefix"></i>
         </div>

        <div class="col-md-4">
            <div class="md-form">

                <i class="fa fa-user prefix"></i>
                <input type="text" id="form41" ng-model="user.Fullname" class="form-control" placeholder="Fullname"required>
            </div>
        </div>

        <!--Second column-->
        <div class="col-md-4">
            <div class="md-form">

                <input type="text" id="form51" ng-model="user.Fraternityname" class="form-control" placeholder="Fraternityname" required>

            </div>
        </div>

        <!--Third column-->
        <div class="col-md-4">
            <div class="md-form">
              <i class="fa fa-envelope prefix"></i>
                <input type="email" id="form61" ng-model="user.Email" class="form-control" placeholder="Email" required>

            </div>
        </div>



        <div>
          <div class="col-md-4">
              <div class="md-form">
                  <i class="fa fa-phone prefix " ></i>
                  <input type="text" id="form41" ng-model="user.Phonenumber" class="form-control" placeholder="Phone number" required>

              </div>
          </div>

      <button type= "submit"   <a href="/Guard" class="btn btn-warning" >Save Changes</a> </button>
  </div>



      </div>
      <!--/.first row-->

      <!--    second row-->
      <div class="row">

        <!--First column-->

<div> </div>


</form>

      <pre>user = {{user | json}}</pre>
        <pre>master = {{master | json}}</pre>

      </div>

</div>
