<div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav ">
                <li class="sidebar-brand">
                    <a href="/Guard">
                        Profile
                    </a>
                </li>

                <li>
                    <a href="/Guardpass">Change Password</a>
                </li>
                <li>
                    <a href="/guardevent">Events</a>
                </li>
            </ul>
        </div>


<div class = "col-md-12">
              <!--/.first row-->
      <div class="row">
  <form   class="simple-from"  ng-submit="submit()">

      <!--First column-->
      <div> <h1>Change your Password</h1></div>
</div>
<!--
      <div class="col-md-4">

          <img src="https://s9.postimg.org/amh9hv08v/maleavatar.png" width="180" height="200" />

       </div> -->
<div class="row">
      <div class="col-md-4">
          <div class="md-form">

          <i class="fa fa-key" aria-hidden="true"></i>
              <input type="password" id="form41"  class="form-control" placeholder="Old Password" ng-model="user.oldpwd" required>


          </div>
      </div>
</div>
      <!--Second column-->
      <div class="row">
      <div class="col-md-4">
          <div class="md-form">

            <i class="fa fa-key" aria-hidden="true"></i>
                <input type="password" id="form41"  class="form-control" placeholder="New Password" ng-model="user.newpwd" required>

          </div>
      </div>
</div>
      <!--second row-->
      <div class="row">
      <div class="col-md-4">
          <div class="md-form">
            <i class="fa fa-key" aria-hidden="true"></i>
                <input type="password" id="form41"  class="form-control" placeholder="Re-enter Password" ng-model="user.cnfpwd" required>


          </div>
      </div></div>

      <div class="row">

         <button type="submit"  class="btn btn-success" name="simple-from" >Submit</button>


      </div>

</form>

      </div>
</div>
