<div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
             <ul class="sidebar-nav ">
                <li >
                    <a href="/HostProfile">
                        Profile
                    </a>
                </li>

                <li>
                  <a href="/HouseLocation">House Location</a>
                </li>
                <li>
                    <a href="/Events">Create Event</a>
                </li>
                <li class="sidebar-brand">
                    <a href="/EditEvents">View/Edit Events</a>
                </li>
                <li>
                      <a href="/Members">Members</a>
                </li>

            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper" >
            <div class="container-fluid">
                 <!--Page heading-->
            <div class="row">
                <div class="col-md-12">
                    <h1 class="h1-responsive">View/Edit Events
                        <small class="text-muted"></small>
                    </h1>
                </div>
            </div>
            <!--/.Page heading-->
            <hr>
            <!--/.Content-->
            <div id="page-content-wrapper">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Event Name</th>
                    <th>Event Date</th>
                    <th>Event Time</th>
                    <!-- <th>Modify Event</th> -->
                  </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="event in events">
                      <!-- ng-repeat="event in events" -->
                      <td><a href="#" ng-click="editEvent(event)">{{event.eventName}}</a></td>
                      <td>{{event.eventDateTime | date: "MM-dd-yyyy"}}</td>
                      <td>{{event.eventDateTime  | date: "HH:mm:ss"}}</td>
                      <td><a href="/AssignGuards" class="btn btn-success" ng-click="grabEvent(event)">Assign Guards</td>
                        <td><a href="#" class="btn btn-warning" ng-click="deleteEvent(event)">Delete</td>
                        <!-- <td><a href="#" class="btn btn-warning" ng-click="editEvent(event)">Edit</td> -->
                    </tr>
                  </tbody>
              </table>
            </div>

            <hr>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
