<div id="wrapper">

       <!-- Sidebar -->
       <div id="sidebar-wrapper">
            <ul class="sidebar-nav ">
              <li class="sidebar-brand">
                  <a href="/Hostprofile">
                      Profile
                  </a>
              </li>

              <li>
                  <a href="/HouseLocation">House Location</a>
              </li>
              <li>
                  <a href="/Events">Create Event</a>
              </li>
              <li>
                  <a href="/Members">Members</a>
              </li>

           </ul>
       </div>
       <!-- /#sidebar-wrapper -->

       <!-- Page Content -->
       <div id="page-content-wrapper">
           <div class="container-fluid">
               <div class="row">
                   <div class="col-md-12">
                      <h1>PartyGuard Team</h1>
                  </div>

               </div>
               <div class="row">
                   <div class="col-md-4">
                     <div class="md-form">
                   <i class="fa fa-beer prefix"></i>
                   <input type="text" id="form2" class="form-control">
                   <label for="form2">Event Name</label>
                   </div>
                  </div>
                   <div class="col-md-4">
                     <div class="md-form">
                   <i class="fa fa-calendar prefix"></i>
                   <input type="text" id="form2" class="form-control" >
                   <label for="form2">Event Date</label>

                   </div>
                  </div>

                  <div class="col-md-4">

                   <p class="input-group">
                      <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </p>


                    </div>


               </div>

               <div class="row">
                   <div class="col-md-12">

                  </div>
                   <div class="col-lg-12">
                  <table class="table table-striped">

                           <thead>
                               <tr>
                               <th><b>Profile Image</b></th>
                               <th><b>Last Name</b></th>
                               <th><b>First Name</b></th>
                               <th><b>Alerts On/Off</b></th>
                               </tr>

                           </thead>

                           <tbody>

                           <tr>
                               <td><img src="https://s32.postimg.org/bubza536t/image.jpg" width="100" height="100" class="img-circle"</td>
                               <td><b>Parise</b></td>
                               <td><b>Abishai</b></td>
                               <td><fieldset class="form-group">
                               <input name="group1" type="radio" id="radio1">
                                </fieldset>
                                      </td>
                           </tr>
                           <tr>
                               <td><img src="https://s31.postimg.org/fmj85epp7/13689795_1135058619871332_857743586_n.jpg" width="100" height="100" class="img-circle"</td>
                               <td><b>Spandana</b></td>
                               <td><b>Velaga</b></td>
                               <td><fieldset class="form-group">
                               <input name="group2" type="radio" id="radio1">
                                </fieldset>
                                      </td>
                           </tr>
                           <tr>
                               <td><img src="https://s32.postimg.org/bubza536t/image.jpg" width="100" height="100" class="img-circle"</td>
                               <td><b>Parise</b></td>
                               <td><b>Abishai</b></td>
                               <td><fieldset class="form-group">
                               <input name="group3" type="radio" id="radio1">
                                </fieldset>
                                      </td>
                           </tr>
                           <tr>
                               <td><img src="https://s31.postimg.org/fmj85epp7/13689795_1135058619871332_857743586_n.jpg" width="100" height="100" class="img-circle"</td>
                               <td><b>Spandana</b></td>
                               <td><b>Velaga</b></td>
                               <td><fieldset class="form-group">
                               <input name="group4" type="radio" id="radio1">
                                </fieldset>
                                      </td>
                           </tr>
                           <tr>
                               <td><img src="https://s32.postimg.org/bubza536t/image.jpg" width="100" height="100" class="img-circle"</td>
                               <td><b>Parise</b></td>
                               <td><b>Abishai</b></td>
                               <td><fieldset class="form-group">
                               <input name="group5" type="radio" id="radio1">
                                </fieldset>
                                      </td>
                           </tr>
                           <tr>
                               <td><img src="https://s31.postimg.org/fmj85epp7/13689795_1135058619871332_857743586_n.jpg" width="100" height="100" class="img-circle"</td>
                               <td><b>Spandana</b></td>
                               <td><b>Velaga</b></td>
                               <td><fieldset class="form-group">
                               <input name="group5" type="radio" id="radio1">
                                </fieldset>
                                      </td>
                           </tr>
                           <tr>
                               <td><img src="https://s32.postimg.org/bubza536t/image.jpg" width="100" height="100" class="img-circle"</td>
                               <td><b>Parise</b></td>
                               <td><b>Abishai</b></td>
                               <td><fieldset class="form-group">
                               <input name="group7" type="radio" id="radio1">
                                </fieldset>
                                      </td>
                           </tr>
                           <tr>
                               <td><img src="https://s31.postimg.org/fmj85epp7/13689795_1135058619871332_857743586_n.jpg" width="100" height="100" class="img-circle"</td>
                               <td><b>Spandana</b></td>
                               <td><b>Velaga</b></td>
                               <td><fieldset class="form-group">
                               <input name="group1" type="radio" id="radio1">
                                </fieldset>
                                      </td>
                           </tr>
                           </tbody>
                  </table>
                       <a href="#" class="btn btn-warning">Save</a>
                   </div>
               </div>
           </div>
       </div>
       <!-- /#page-content-wrapper -->

   </div>
   <!-- /#wrapper -->
