<div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
             <ul class="sidebar-nav ">
                <li >
                    <a href="/HostProfile">
                        Profile
                    </a>
                </li>

                <li>
                  <a href="/HouseLocation">House Location</a>
                </li>
                <li class="sidebar-brand">
                      <a href="/Events">Create Event</a>
                </li>
                <li>
                      <a href="/EditEvents">View/Edit Events</a>
                </li>
                <li>
                      <a href="/Members">Members</a>
                </li>

            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
           <form   class="simple-from" >
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                       <h1>Create an Event !!!</h1>
                   </div>

                </div>
                <br>
                <div class="row " >
                    <div class="col-md-3 col-lg-6">
                      <div class="md-form">
                    <i class="fa fa-beer prefix"></i>
                    <input type="text" id="form2" placeholder="Enter event Name"class="form-control " ng-model = "user.eventname" required>
                    <!-- <label for="form2">Event Name</label> -->
                    </div>
                   </div>



                </div>
                <div class="row">
                  <div class="col-md-3 col-lg-6">
                    <div class="md-form">
                  <i class="fa fa-calendar prefix"></i>
                  <input type="date" id="form2" placeholder="Enter Date" class="form-control" ng-model = "user.eventdate" required>
                  <!-- <label for="form2">Event Date</label> -->

                  </div>
                 </div>
                </div>
                <div class="row">
                  <div class="col-md-3 col-lg-6">
                    <div class="md-form">
                  <i class="fa fa-clock-o prefix"></i>
                  <input type="time" id="form2" placeholder="Enter Time" class="form-control" ng-model = "user.eventtime" required>
                  <!-- <label for="form2">Event Date</label> -->

                  </div>
                 </div>
                </div>

                <div class="row">
                    <div class="col-md-12">

                   </div>

                   <table class="table table-striped">

                            <thead>
                                <tr>
                                <th><b>Profile Image</b></th>
                                <th><b>Last Name</b></th>
                                <th><b>First Name</b></th>
                                <th><b>Alerts On/Off</b></th>
                                </tr>

                            </thead>
                            <tbody>
                                <tr ng-repeat="member in members">
                                    <td>
                                        <img src="{{member.image}}" class="img-fluid img-circle center-block" alt="" height="100" width="100">
                                    </td>
                                    <td>
                                        {{member.lastName}}
                                    </td>
                                    <td>
                                        {{member.firstName}}
                                    </td>
                                    <td>
                                        <input name="group2" type="checkbox" id="checkbox1" ng-model="selected" ng-checked="exist(member)"
                                        ng-click="toggleSelection(member)">
                                    </td>

                                </tr>
                            </tbody>
                   </table>


                      <button type= "submit" class="btn btn-warning-outline" ng-click="display(showSuccessAlert)">Submit</button>
                      <!-- <a href="/EventConfirmation" class="btn btn-warning-outline" ng-click="display(showSuccessAlert)">Submit</a> -->
                      <a href="#" class="btn btn-warning-outline">Reset</a>
                      <div class="alert alert-success" role="alert" ng-show="showSuccessAlert"><h4>{{successTextAlert}}</h4></div>
                    </div>
                </div>
              </form>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    <!-- /#wrapper -->
