<div id="wrapper">

<form  novalidate class="simple-from">
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
<!--                first row-->
        <div class="row">
                   <div class="col-md-12">
                       <h1>New Customer Login</h1>
                   </div>
        <!--First column-->
        <div class="col-md-4">
            <div class="md-form">
                <i class="fa fa-user prefix"></i>
                <input type="text" id="form41" ng-model="user.username"placeholder="Enter your Username" class="form-control">
                <!-- <label for="form41" class="">Username</label> -->
            </div>
        </div>

        <!--Second column-->
        <div class="col-md-4">
            <div class="md-form">
                <i class="fa fa-lock prefix"></i>
                <input type="password" id="form51" ng-model="user.temppassword" placeholder="Enter your Temporary Password" class="form-control">
                <!-- <label for="form51" class="">Temp Password</label> -->
            </div>
        </div>

        <!--Third column-->
        <div class="col-md-4">
            <div class="md-form">
                <i class="fa fa-key prefix"></i>
                <input type="text" id="form61" ng-model="user.subscriptioncode" placeholder="Enter your Subscription Code" class="form-control">
                <!-- <label for="form61" class="">Subscription Code</label> -->
            </div>
        </div>

    </div>
    <!--/.first row-->

<!--    second row-->
 <div class="row">

        <!--First column-->
        <div class="col-md-4">
            <div class="md-form">
                <i class="fa fa-lock prefix"></i>
                <input type="password" id="form41" ng-model="user.newpassword" placeholder="Enter your New Password" class="form-control">
                <!-- <label for="form41" class="">New Password</label> -->
            </div>
        </div>

        <!--Second column-->
        <div class="col-md-4">
            <div class="md-form">
                <i class="fa fa-lock prefix"></i>
                <input type="password" id="form51" ng-model="user.confirmnewpassoword" placeholder="Enter your New Password" class="form-control">
                <!-- <label for="form51" class="">Re-Enter New Password</label> -->
            </div>
        </div>



    </div>

<!--Third row end-->
 <a href="/Hostprofile" class="btn btn-warning" ng-click="update(user)">Login</a>

            </div>
        </div>
        <!-- /#page-content-wrapper -->
</form>
<!-- <pre>user = {{user | json}}</pre>
  <pre>master = {{master | json}}</pre> -->
    </div>
    <!-- /#wrapper -->
