<div id="wrapper">

        <!-- Sidebar -->
<!--        <div id="sidebar-wrapper">
            <ul class="sidebar-nav ">
                <li class="sidebar-brand">
                    <a href="Hostprofile.html">
                        Add Customer
                    </a>
                </li>

                <li>
                    <a href="Host Location.html">View Customers</a>
                </li>
                <li>
                    <a href="Guardteam.html">Manage Subscriptions </a>
                </li>


            </ul>
        </div>-->
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
<!--                first row-->
        <div class="row">
                   <div class="col-md-12">
                       <h1>New Customer Login</h1>
                   </div>
        <!--First column-->
        <div class="col-md-4">
            <div class="md-form">
                <i class="fa fa-user prefix"></i>
                <input type="text" id="form41" class="form-control">
                <label for="form41" class="">Username</label>
            </div>
        </div>

        <!--Second column-->
        <div class="col-md-4">
            <div class="md-form">
                <i class="fa fa-lock prefix"></i>
                <input type="text" id="form51" class="form-control">
                <label for="form51" class="">Temp Password</label>
            </div>
        </div>

        <!--Third column-->
        <div class="col-md-4">
            <div class="md-form">
                <input type="text" id="form61" class="form-control">
                <label for="form61" class="">Subscription Code</label>
            </div>
        </div>

    </div>
    <!--/.first row-->

<!--    second row-->
 <div class="row">

        <!--First column-->
        <div class="col-md-4">
            <div class="md-form">
                <i class="fa fa-lock prefix"></i>
                <input type="text" id="form41" class="form-control">
                <label for="form41" class="">New Password</label>
            </div>
        </div>

        <!--Second column-->
        <div class="col-md-4">
            <div class="md-form">
                <i class="fa fa-lock prefix"></i>
                <input type="text" id="form51" class="form-control">
                <label for="form51" class="">Re-Enter New Password</label>
            </div>
        </div>



    </div>

<!--Third row end-->
 <a href="/Hostprofile" class="btn btn-warning">Login</a>

            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
