<div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav ">
                <li class="sidebar-brand">
                    <a href="guardHP.html">
                        Profile
                    </a>
                </li>

                <li>
                    <a href="#">Change Password</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
 <div class="row">
                    <div class="col-lg-12">
                        <h1>Abishai Parise</h1>
                        <button      <i class="fa fa-edit prefix"></i>    <a href="/GuardUserEdit">Edit</a> </button>


                       <div class="col-md-4">

                           <img src="https://s9.postimg.org/amh9hv08v/maleavatar.png" width="180" height="200" />
                           <i class="fa fa-edit prefix"></i>
                        </div>
                        <div class="col-md-8">
                          <div>
                         Fullname :{{guardetails.Fullname}}</div>
                         <div>
                         Fraternityname:{{guardetails.Fraternityname}} </div>
                      <div>   Email:{{guardetails.Email}}</div>
                      <div>
                        Phonenumber:{{guardetails.Phonenumber}}
<!-- <label ng-model="guardetails.Phonenumber" > </label> -->
                        </div>

                    </div>


                </div>


            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
</div>
