<div id="wrapper">

  <form   class="simple-from" ng-submit="update(user)">


        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
<!--                first row-->
        <div class="row">
                   <div class="col-md-12">
                       <h1>Guard User Registration</h1>
                   </div>
        <!--First column-->
        <div class="col-md-4">
            <div class="md-form">
                <i class="fa fa-user prefix"></i>
                <input type="text" id="form41" placeholder="Enter First Name" ng-model="user.firstName" class="form-control" required>

            </div>
        </div>

        <!--Second column-->
        <div class="col-md-4">
            <div class="md-form">
                <i class="fa fa-user prefix"></i>
                <input type="text" id="form41" placeholder="Enter Last Name" ng-model="user.lastName" class="form-control" required>
                <!-- <label for="form41" class="">Last name</label> -->
            </div>
        </div>

        <!--Third column-->


        <div class="col-md-4">
            <div class="md-form">
                 <i class="fa fa-qrcode prefix"></i>
                <input type="text" id="form61" placeholder="Enter Guard user Code" ng-model="user.guardUserCode" class="form-control" required>
                <!-- <label for="form61" class="">Guard User Code</label> -->
            </div>
        </div>

    </div>


<!--    second row-->
 <div class="row">
   <div class="col-md-4">
       <div class="md-form">
           <i class="fa fa-envelope prefix"></i>
           <input type="email" id="form41" placeholder="Enter Email" ng-model="user.Email"class="form-control" required>
           <!-- <label for="form41" class="">Email</label> -->
       </div>
   </div>
        <!--First column-->

        <div class="col-md-4">
            <div class="md-form">
                <i class="fa fa-mobile-phone prefix"></i>
                <input type="text" id="form51" placeholder="Enter Mobile number" ng-model="user.PhoneNumber" class="form-control" required>
                <!-- <label for="form51" class="">Mobile</label> -->
            </div>
        </div>
          <!--Second column-->
        <div class="col-md-4">
            <div class="md-form">
                <i class="fa fa-lock prefix"></i>
                <input type="password" id="form41" placeholder="Enter Password" ng-model="user.Password" class="form-control" required>
                <!-- <label for="form41" class="">Password</label> -->
            </div>
        </div>
    </div>
<!-- Third row-->
 <div class="row">

                 <div class="col-md-4">
                     <div class="md-form">
                         <i class="fa fa-user prefix"></i>
                         <input type="number" id="form41" placeholder="Enter your Age" ng-model="user.age" class="form-control" required>
                         <!-- <label for="form41" class="">First name</label> -->
                     </div>
                 </div>
    </div>
<!--Fourth row -->


<button type= "submit" class="btn btn-warning-outline" >Register</button>
 <a href="#" class="btn btn-warning-outline" ng-click="reset()">Reset</a>

            </div>
            <div class="row">
               <div class="col-lg-8">
              <div class="alert alert-success" role="alert" ng-show="showSuccessAlert">
        <button type="button" class="close" data-ng-click="switchBool('showSuccessAlert')">×</button>{{successTextAlert}}<strong><a href="/Login">here</a></strong> to Login </div>
      </div></div>
        </div>
        <!-- /#page-content-wrapper -->
</form>
    </div>
    <!-- /#wrapper -->
