<div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav ">
                <li class="sidebar-brand">
                    <a href="/Guard">
                        Profile
                    </a>
                </li>

                <li>
                    <a href="/Guardpass">Change Password</a>
                </li>
                <li>
                    <a href="/guardevent">Events</a>
                </li>
            </ul>
        </div>
  <!-- preventing default angularjs validations for this form named submitForm using novalidate -->
        <form   name="simplefrom"  ng-submit="submit()" novalidate>

<div class = "col-md-12">
              <!--/.first row-->
      <div class="row">
      <div> <h1>Change your Password</h1></div>
</div>
  <!--/.Second row-->
<div class="row">
      <div class="col-md-4">
          <div class="md-form">

          <i class="fa fa-key" aria-hidden="true"></i>
              <input name="oldpass" type="password" id="form41"  class="form-control" placeholder="Old Password" ng-model="user.oldpwd" required>
<!-- Custom validations are done -->
              <span style="color:red"ng-show="simplefrom.oldpass.$touched && simplefrom.oldpass.$error.required" >

                Please enter the old password </span>

          </div>
      </div>
</div>
        <!--Third Row-->
      <div class="row">
      <div class="col-md-4">
          <div class="md-form">

            <i class="fa fa-key" aria-hidden="true"></i>
                <input name="newpass" type="password" id="form41"  class="form-control" placeholder="New Password" ng-model="user.newpwd" required>
<!-- Custom validations are done -->
                <span style="color:red" ng-show="simplefrom.newpass.$touched && simplefrom.newpass.$error.required" >

                  Please enter New password </span>
          </div>
      </div>
</div>
        <!--Fourth row-->
      <div class="row">
      <div class="col-md-4">
          <div class="md-form">
            <i class="fa fa-key" aria-hidden="true"></i>
                <input name="confirmpass" type="password" id="form41"  class="form-control" placeholder="Re-enter Password" ng-model="user.cnfpwd" required>
<!-- Custom validations are done -->
                <span style="color:red" ng-show="simplefrom.confirmpass.$touched && simplefrom.confirmpass.$error.required" >

                  Please Re-enter Password</span>

          </div>
      </div></div>
<!-- Fifth row -->
      <div class="row">
<!-- Submit button will be disabled if any of the above fields are not according to custom validations. -->
         <input type="submit"  class="btn btn-success" name="simple-from" ng-disabled="simplefrom.$invalid">


      </div>
  </div>
</form>


</div>
