<div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav ">
                <li class="sidebar-brand">
                    <a href="/Guard">
                        Profile
                    </a>
                </li>

                <li>
                    <a href="/Guardpass">Change Password</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <form name="newform" >


          <div class="row">


          <!--First column-->
          <div> <h1>Welcome {{guardetails.Fullname}} !!!</h1></div>


          <div class="col-md-4">

              <img src="https://s9.postimg.org/amh9hv08v/maleavatar.png" width="180" height="200" />

           </div>

          <div class="col-md-4">
              <div class="md-form">

                  <i class="fa fa-user prefix"></i>
                  <input type="text" id="form41" value = "{{guardetails.Fullname}}" class="form-control" ng-readonly="true" >
              </div>
          </div>

          <!--Second column-->
          <div class="col-md-4">
              <div class="md-form">

                  <input type="text" id="form51" value = "{{guardetails.Fraternityname}}" class="form-control" ng-readonly="true"  >

              </div>
          </div>

          <!--Third column-->
          <div class="col-md-4">
              <div class="md-form">
                <i class="fa fa-envelope prefix"></i>
                  <input type="email" id="form61" value = "{{guardetails.Email}}" class="form-control" ng-readonly="true"  >

              </div>
          </div>



          <div>
            <div class="col-md-4">
                <div class="md-form">
                    <i class="fa fa-phone prefix " ></i>
                    <input type="text" id="form41" value = "{{guardetails.Phonenumber}}" class="form-control" ng-readonly="true"  >

                </div>
            </div>
<a href="/GuardUserEdit"> <input type="button"  class="btn btn-warning" name="simple-from" value="Edit"></a>
        <!-- <button      <i class="fa fa-edit prefix"></i>    <a href="/GuardUserEdit">Edit</a> </button> -->
    </div>



        </div>


  </form>
                </div>



        <!-- /#page-content-wrapper -->



    <!-- /#wrapper -->
