
 <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav ">
              <li>
                <a href="/Dashboard">Dashboard</a>
              </li>
                <li class="sidebar-brand">
                    <a href="/AddCustomer">
                        Add Customer
                    </a>
                </li>

                <li>
                    <a href="/viewcustomer">View Customers</a>
                </li>



            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
          <form   class="simple-from" ng-submit="update(user)">
            <div class="container-fluid">
<!--                first row-->
        <div class="row">
                   <div class="col-md-12">
                       <h1>Add Customer</h1>
                   </div>
        <!--First column-->
        <div class="col-md-4">

  <div class="dropdown">
  <!-- <i class="fa fa-key prefix"></i> -->
    <div class="md-form">
   <!-- <label for="exampleSelect1">University</label> -->

<select ng-model="user.universityId">

<option value="">Select University</option>
      <option ng-repeat="x in university" value="{{x.universityID}}" >{{x.univeristyName}}</option>
</select>
 </div>
</div>

        </div>


        <!--Second column-->
        <div class="col-md-4">
            <div class="md-form">
              <i class="fa fa-home prefix"></i>
                <input type="text" id="form51" class="form-control" placeholder="Enter House Name" ng-model="user.fraternityName" required/>
                <!-- <label for="form51" class="">House Name</label> -->
            </div>
        </div>

        <!--Third column-->
        <div class="col-md-4">
            <div class="md-form">
                <i class="fa fa-user prefix"></i>
                <input type="text" id="form61" class="form-control" placeholder="Enter Nickname" ng-model="user.nickName" required/>
                <!-- <label for="form61" class="">House Nickname</label> -->
            </div>
        </div>


    </div>
    <!--/.first row-->
       <div class="row">
        <!--First column-->

          <!--First column-->
        <div class="col-md-4">
            <div id="locationField" class="md-form">
                <i class="fa fa-home prefix"></i>
            <input id="autocomplete" placeholder=""
                   type="text" class="form-control" onfocusout="getMap()" placeholder="Enter Address" ng-model="user.locationName" required></input>
            <!-- <label for="form71" class="">House Address</label> -->
            </div>




        </div>

        <!--Second column-->
        <div class="col-md-4">
            <div class="md-form">
            <!--Using google Embed api-->
            <iframe
            width="500"
            height="200"
             frameborder="0" style="border:0"
             id ="myFrame"
            <!--src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCBqWF9WfR9pF23nK8Sd_MteauJraBCRpU&q&q=Space+Needle,Seattle+WA" allowfullscreen>-->
            </iframe>

            </div>
        </div>

    </div>
<!--    second row-->
 <div class="row">

        <!--First column-->
        <div class="col-md-3">
            <div class="md-form">
              <i class="fa fa-home prefix"></i>
                <input type="text" id="form41" class="form-control" placeholder="Enter Chapter" ng-model="user.chapter" required>
                <!-- <label for="form41" class="">Chapter</label> -->
            </div>

        </div>

        <!--Second column-->
        <div class="col-md-3">
            <div class="md-form">
              <i class="fa fa-user prefix"></i>
                <input type="text" id="form51" class="form-control" placeholder="Enter Username" ng-model="user.uname" required>
                <!-- <label for="form51" class="">User Name</label> -->
            </div>
        </div>

        <!--Third column-->
        <div class="col-md-3">
            <div class="md-form">
              <i class="fa fa-envelope prefix"></i>
                <input type="email" id="form61" class="form-control" placeholder="Enter Email" ng-model="user.email" required>
                <!-- <label for="form61" class="">Email</label> -->
            </div>
        </div>
        <div class="col-md-3">
            <div class="md-form">
              <i class="fa fa-phone prefix"></i>
                <input type="number" id="form61" class="form-control" placeholder="Enter Mobile Number" ng-model="user.mbl" required>
                <!-- <input type="text" class="input-medium bfh-phone" data-format="+1 (ddd) ddd-dddd" required> -->
                <!-- <label for="form61" class="">Mbl #</label> -->
            </div>
        </div>

    </div>
<div class = "row">
    <label for="happy"><strong>Payment Status</strong></label>

  <!-- <label for="happy" class="col-sm-4 col-md-4 control-label text-right">Are you happy ?</label> -->
  <div id="radioBtn" class="btn-group">


  <!-- <label><input type="radio" name="test" ng-model="user.radioValue" value="1"/> Paid</label>
   <label><input type="radio" name="test" ng-model="user.radioValue" value="2"/> Not Paid</label> -->

        <label> <input type="radio" name="test" ng-model="user.paymentStatus" value="Active"/> Paid </label>
          <label><input type="radio" name="test" ng-model="user.paymentStatus" value="Suspended"/>not Paid </label>


  </div>
</div>
<!--Third row end-->
 <!-- <a  class="btn btn-warning-outline" ng-click="update(user)">Create Account</a> -->
 <button type= "submit" class="btn btn-warning-outline" >Create Account</button>
 <a  class="btn btn-warning-outline" ng-click="reset()">Reset</a>

            </div>
        </div>
        <!-- /#page-content-wrapper -->
</form>
<!-- <pre>user = {{user | json}}</pre>
  <pre>master = {{master | json}}</pre> -->
    </div>
    <script>
    $('#radioBtn a').on('click', function(){
        var sel = $(this).data('title');
        var tog = $(this).data('toggle');
        $('#'+tog).prop('value', sel);

        $('a[data-toggle="'+tog+'"]').not('[data-title="'+sel+'"]').removeClass('active').addClass('notActive');
        $('a[data-toggle="'+tog+'"][data-title="'+sel+'"]').removeClass('notActive').addClass('active');
    })


    </script>
    <style>
    #radioBtn .notActive{
    color: #3276b1;
    background-color: #fff;
}
    </style>
    <!-- /#wrapper -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBqWF9WfR9pF23nK8Sd_MteauJraBCRpU&libraries=places&callback=initAutocomplete" async="defer"></script>
   <!-- <script src="assets/js/bootstrap-formhelpers-phone.js"></script> -->
<script>
function getMap(){

    var comp = encodeURIComponent(document.getElementById("autocomplete").value);

    if(comp !== ""){
      document.getElementById("myFrame").src = "https://www.google.com/maps/embed/v1/place?key=AIzaSyCBqWF9WfR9pF23nK8Sd_MteauJraBCRpU&q="+comp;

    }else {
//    document.getElementById("myFrame").src = "https://www.google.com/maps/embed/v1/place?key=AIzaSyCBqWF9WfR9pF23nK8Sd_MteauJraBCRpU&q=Space+Needle,Seattle+WA";
   }
 }


      // This example displays an address form, using the autocomplete feature
      // of the Google Places API to help users fill in the information.

      // This example requires the Places library. Include the libraries=places
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

var placeSearch, autocomplete;


function initAutocomplete() {
        // Create the autocomplete object, restricting the search to geographical
        // location types.
        autocomplete = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
            {types: ['geocode']});
      }



      // Bias the autocomplete object to the user's geographical location,
      // as supplied by the browser's 'navigator.geolocation' object.
      function geolocate() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var geolocation = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            var circle = new google.maps.Circle({
              center: geolocation,
              radius: position.coords.accuracy
            });
            autocomplete.setBounds(circle.getBounds());
          });
        }
      }

</script>
