<div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav ">
                <li class="sidebar-brand">
                    <a href="memberHP.html">
                        Profile
                    </a>
                </li>

                <li>
                    <a href="#">Change Password</a>
                </li>

            </ul>
        </div>

          <form   class="simple-from" ng-submit="update(use)">
        <div class="row">


        <!--First column-->
        <div> <h1>Edit the basic details</h1></div>


        <div class="col-md-4">

            <img src="https://s14.postimg.org/ix27apndt/female.jpg" width="180" height="200" />

         </div>

        <div class="col-md-4">
            <div class="md-form">

                <i class="fa fa-user prefix"></i>
                <input type="text" id="form41" ng-model="use.Fullname" class="form-control" placeholder="Fullname" required>


            </div>
        </div>

        <!--Second column-->
        <div class="col-md-4">
            <div class="md-form">

                <input type="text" id="form51" ng-model="use.Fraternityname" class="form-control" placeholder="Fraternityname" required>

            </div>
        </div>

        <!--Third column-->
        <div class="col-md-4">
            <div class="md-form">
              <i class="fa fa-envelope prefix"></i>
                <input type="text" id="form61" ng-model="use.Email" class="form-control" placeholder="Email" required>

            </div>
        </div>

        <div>
          <div class="col-md-4">
              <div class="md-form">
                  <i class="fa fa-phone prefix " ></i>
                  <input type="text" id="form41" ng-model="use.Phonenumber" class="form-control" placeholder="Phone number" required>

              </div>
          </div>
      <button type="submit"   <a href="/Basic" class="btn btn-warning">Save Changes</a> </button>
  </div>



      </div>
      <!--/.first row-->

      <!--    second row-->
      <div class="row">

        <!--First column-->

<div> </div>


</form>
      <!-- <pre>form = {{newuser | json}}</pre>
        <pre>master = {{master | json}}</pre> -->

      </div>
    </div>
