<div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav ">
                <li class="sidebar-brand">
                    <a href="memberHP.html">
                        Profile
                    </a>
                </li>

                <li>
                    <a href="/Basicpass">Change Password</a>
                </li>



            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <form   class="simple-from" >
      <div class="row">


      <!--First column-->
      <div> <h1>Welcome {{basicuserdetails.Fullname}} !!!</h1></div>


      <div class="col-md-4">

          <img src="https://s14.postimg.org/ix27apndt/female.jpg" width="180" height="200" />

       </div>

      <div class="col-md-4">
          <div class="md-form">

              <i class="fa fa-user prefix"></i>
              <input type="text" id="form41"  class="form-control" value="{{basicuserdetails.Fullname}}" ng-readonly="true">
          </div>
      </div>

      <!--Second column-->
      <div class="col-md-4">
          <div class="md-form">

              <input type="text" id="form51"  class="form-control" value="{{basicuserdetails.Fraternityname}}" ng-readonly="true">

          </div>
      </div>

      <!--Third column-->
      <div class="col-md-4">
          <div class="md-form">
            <i class="fa fa-envelope prefix"></i>
              <input type="text" id="form61"  class="form-control" value="{{basicuserdetails.Email}}" ng-readonly="true">

          </div>
      </div>

      <div>
        <div class="col-md-4">
            <div class="md-form">
                <i class="fa fa-phone prefix " ></i>
                <input type="text" id="form41"  class="form-control" value="{{basicuserdetails.Phonenumber}}" ng-readonly="true">

            </div>
        </div>
    <button      <i class="fa fa-edit prefix"></i>    <a href="/BasicUserProfilePic">Edit</a> </button>
      </div>



      </div>
      <!--/.first row-->

      <!--    second row-->
      <div class="row">

      <!--First column-->

      <div> </div>


      </form>
        <!-- <div id="page-content-wrapper">
            <div class="container-fluid">
 <div class="row">
                    <div class="col-lg-12">
                        <h1>Abishai Parise</h1>
                        <button      <i class="fa fa-edit prefix"></i>    <a href="/BasicUserEdit">Edit</a> </button>


                       <div class="col-md-4">

                           <img src="https://s14.postimg.org/ix27apndt/female.jpg" width="180" height="200" />
                           <i class="fa fa-edit prefix"></i>
                        </div>
                        <div class="col-md-8">
                                                <table class="table table-responsive">

                                                  <tr>

                                      <label for="form-41" >   <i class="fa fa-user prefix"> </i><td class="col-md-4">   Fullname :{{basicuserdetails.Fullname}} </td></label>


                                                <label for="form-41" >    <td class="col-md-4">   {{basicuserdetails.Fraternityname}} </td></label>

                                                  </tr>
                        </div>

                        <div class="col-md-4">
                                                  <tr>
                                                <label for="form-41">    <td class="col-md-4" >   Email:{{basicuserdetails.Email}} </td></label>
                                                <label for="form-41">    <td class="col-md-4">    Phonenumber:{{basicuserdetails.Phonenumber}}
                         </td></label>

                                                  </tr>
                                                </div>
                                                </table> -->
                        <!-- <div class="col-md-8">
                          <div>
                          Fullname : {{basicuserdetails.Fullname}} </div>
                         <div>
                         Fraternityname:{{basicuserdetails.Fraternityname}} </div>
                      <div>   Email:{{basicuserdetails.Email}}</div>
                      <div>
                        Phonenumber:{{basicuserdetails.Phonenumber}}
<img src="https://s14.postimg.org/ix27apndt/female.jpg" width="180" height="200" />
                        </div>

                    </div> -->


                </div>


            <!-- </div>
        </div> -->
        <!-- /#page-content-wrapper -->

    <!-- </div> -->
    <!-- /#wrapper -->
   </div>
