<div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav ">
                <li class="sidebar-brand">
                    <a href="/Basic">
                        Profile
                    </a>
                </li>

                <li>
                    <a href="/Basicpass">Change Password</a>
                </li>

            </ul>
        </div>

          <!-- <form   class="simple-from" ng-submit="update(use)"> -->
  <!-- //ng-submit="update(rootlocaldetails)" -->
              <!-- <form   class="simple-from" ng-submit="submit()"> -->

<form   name="newform"  ng-submit="submitForm()" novalidate>

        <div class="row">


        <!--First column-->
        <div> <h1>Edit profile details</h1></div>


        <div class="col-md-4">

            <img src="https://s14.postimg.org/ix27apndt/female.jpg" width="180" height="200" />

         </div>

        <div class="col-md-4">
            <div class="md-form">

                <i class="fa fa-user prefix"></i>
                <input name="fn"  type="text" id="form41" ng-model="rootlocaldetails.FirstName" class="form-control" placeholder="FirstName" required>

                <span style="color:red"ng-show="newform.fn.$touched && newform.fn.$error.required" >

                  Please enter FirstName </span>
            </div>
        </div>

        <!--Second column-->
        <div class="col-md-4">
            <div class="md-form">
                <i class="fa fa-user prefix"></i>
                <input name="ln" type="text" id="form51" ng-model="rootlocaldetails.LastName" class="form-control" placeholder="LastName" required>
                <span style="color:red"ng-show="newform.ln.$touched && newform.ln.$error.required" >
                  Please enter lastname
               </span>
            </div>
        </div>

        <!--Third column-->
        <div class="col-md-4">
            <div class="md-form">
              <i class="fa fa-envelope prefix"></i>
                <input name = "email" type="email" id="form61" ng-model="rootlocaldetails.Email" class="form-control" placeholder="Email" required>
                <span style="color:red"ng-show="newform.email.$touched && newform.email.$error.required" >

                  Please email adress </span>
                  <span style = "color:red" ng-show="newform.email.$touched && newform.email.$error.email">
                    email address format is not valid.</span>
            </div>
        </div>

        <div>
          <div class="col-md-4">
              <div class="md-form">
                  <i class="fa fa-phone prefix " ></i>
                  <input  name="phone" ng-minlength="10"
           ng-maxlength="10" type="text" id="form41" ng-model="rootlocaldetails.PhoneNumber" class="form-control" placeholder="PhoneNumber" required>
           <span style = "color:red"  ng-show="newform.phone.$touched && newform.phone.$error.required">
                               Valid phone number is required
                </span>

                <span style = "color:red"
                      ng-show="((newform.phone.$error.minlength ||
                                newform.phone.$error.maxlength) &&
                                (newform.phone.$dirty) )">
                                phone number should be 10 digits
                 </span>
              </div>
          </div>


    <!-- <a href="/Basic"><input type="submit" class="btn btn-success" name="simple-from"  value="Update"> </a> -->
  </div>
      </div>
  <button type="submit" class="btn btn-success" ng-disabled="newform.$invalid">Submit</button>
</form>
      <!-- <pre>form = {{newuser | json}}</pre>
        <pre>master = {{master | json}}</pre> -->


    </div>
