<div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav ">
                <li class="sidebar-brand">
                    <a href="memberHP.html">
                        Profile
                    </a>
                </li>

                <li>
                    <a href="/Basicpass">Change Password</a>
                </li>



            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <div id="page-content-wrapper">
            <div class="container-fluid">
 <div class="row">
                    <div class="col-lg-12">
                        <h1>Abishai Parise</h1>
                        <button      <i class="fa fa-edit prefix"></i>    <a href="/BasicUserEdit">Edit</a> </button>


                       <div class="col-md-4">

                           <img src="https://s14.postimg.org/ix27apndt/female.jpg" width="180" height="200" />
                           <i class="fa fa-edit prefix"></i>
                        </div>
                        <div class="col-md-8">
                          <div>
                         Fullname : Spandana </div>
                         <div>
                         Fraternityname:Aplha Phi </div>
                      <div>   Email:Spandanav@gmail.com</div>
                      <div>
                        Phonenumber:925-549-1435
<!-- <label ng-model="guardetails.Phonenumber" > </label> -->
                        </div>

                    </div>


                </div>


            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
  </div>
