<div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav ">
                <li class="sidebar-brand">
                  <a href="/Basic">
                      Profile
                  </a>
                </li>

                <li>
                    <a href="/Basicpass">Change Password</a>
                </li>



            </ul>
        </div>
        <form   class="simple-from"  ng-submit="submit()">
      <div class="row">


      <!--First column-->
      <div> <h1>Change password</h1></div>


      <div class="col-md-4">

          <img src="https://s14.postimg.org/ix27apndt/female.jpg" width="180" height="200" />

       </div>
       <div class="col-md-4">
                <div class="md-form">

                <i class="fa fa-key" aria-hidden="true"></i>
                    <input type="password" id="form41"  ng-model = "password.Oldpassword"class="form-control" placeholder="Old Password" required>
                </div>
            </div>



            <!--Second column-->
            <div class="col-md-4">
                <div class="md-form">

                  <i class="fa fa-key" aria-hidden="true"></i>
                      <input type="password" id="form41"  ng-model = "password.NewPassword" class="form-control" placeholder="New Password" required>

                </div>
            </div>

            <!--Third column-->
            <div class="col-md-4">
                <div class="md-form">
                  <i class="fa fa-key" aria-hidden="true"></i>
                      <input type="password" id="form41"  ng-model="password.ConfirmPassword" class="form-control" placeholder="Re-enter Password" required>
                </div>
            </div>

            <div class="row"></div>

       <button type="submit"   class="btn btn-warning" ng-click="submitMyForm()" >Submit</button>

            </div>



      <div class="row">



      <div> </div>

</div>
      </form>
      <pre>password = {{password | json}}</pre>
       <pre>passmaster = {{password | json}}</pre>


</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
