<div class="container">
        <div class="jumbotron">
        <div class="row">
           <h1>Contact Us</h1>
  <!--<p>Get know in detail about <mark>PartyGuard</mark></p>-->
            <div class="col-md-3">



                <img src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/13707679_10206914773922204_8431267488655394864_n.jpg?oh=6f4de5d218a4edf5eeeaa1606cdf6971&oe=5843778F" class="img-rounded" height="200" width="200" alt="About Us">
  </div>
         <div class="col-md-6">

  <blockquote>
    <p class="text-center"> Jacob C Stanbury </p>
    <p class="text-center">S516098@mail.nwmissouri.edu</p>
     </blockquote>
</div>
        </div>
            </div>
        </div>
