<div class="container" >
       <div class="jumbotron">
       <div class="row">



 <div class="col-md-6" align ="center">
   <h4 class="card-title" ><b>Forgot Password</b></h4>
               <div class="row">

             <div class="card">


   <!--Card content-->

   <div class="md-form">
       <i class="fa fa-lock prefix"></i>
       <input type="password" id="form41" ng-model="password" placeholder="Enter your unique PIN" class="form-control" required>
       <!-- <label for="form41" class="">Password</label> -->
   </div>
       <div class="md-form">
           <i class="fa fa-lock prefix"></i>
           <input type="password" id="form41" ng-model="password" placeholder="Enter your new Password" class="form-control" required>
           <!-- <label for="form41" class="">Password</label> -->
       </div>
       <div class="md-form">
           <i class="fa fa-lock prefix"></i>
           <input type="password" id="form41" ng-model="password" placeholder="Confirm Password" class="form-control" required>
           <!-- <label for="form41" class="">Password</label> -->
       </div>
       </div>
       <div class="col-md-10">
           <button type="submit"   class="btn btn-warning-outline">Login</button>
           <a href="/GuardUserRegistration" class="btn btn-warning">Register as Guard</a>
       </div>



   </div>
       </div>


 </div>
       </div>
     </div>


</div>
     </div>
