<div class="container">
       <div class="jumbotron">
       <div class="row">
          <h1>How It Works</h1>
            <div class="col-md-12">
          <div class="card">


   <!--Card content-->

   <div class="card-block">
       <!--Title-->
       <h4 class="card-title">Host User</h4>
       <!--Text-->
       <div style="display:inline">
      <p>Host User is the head of the fraternity who will maintain the host module.He/she is responsible for assigning guards to particular event
       </div>

   </div>
   <!--/.Card content-->

</div>
 <!--<p>Get know in detail about <mark>PartyGuard</mark></p>-->

 </div>
           <div class="col-md-12">
          <div class="card">


   <!--Card content-->

   <div class="card-block">
       <!--Title-->
       <h4 class="card-title">Guard User</h4>
       <!--Text-->
       <ul class="card-text" style="list-style-type:circle">
           <li type="circle">-> Is the Fraternity Member</li>
           <li>-> Stays sober for a particular party</li>
           <li>-> Generally Guard users are Males</li>

       </ul>


   </div>
   <!--/.Card content-->

</div>
 <!--<p>Get know in detail about <mark>PartyGuard</mark></p>-->

 </div>
           <div class="col-md-12">
          <div class="card">


   <!--Card content-->

   <div class="card-block">
       <!--Title-->
       <h4 class="card-title">Basic User</h4>
       <!--Text-->
        <ul class="card-text" style="list-style-type:circle">
           <li type="circle">-> Is the Fraternity Member</li>
           <li>-> Women who attends a party</li>
           <li>-> Can view their profile</li>

       </ul>

   </div>
   <!--/.Card content-->

</div>
 <!--<p>Get know in detail about <mark>PartyGuard</mark></p>-->

 </div>

       </div>
           </div>
       </div>
