<div class="container">
       <div class="jumbotron">
       <div class="row">
          <h1>How It Works</h1>
            <div class="col-md-12">
          <div class="card">


   <!--Card content-->

   <div class="card-block">
       <!--Title-->
       <h4 class="card-title"><b>Host User</b></h4>
       <!--Text-->
       <div style="display:inline">
      <p>Host User is the head of the fraternity who will maintain the host module.He/she is responsible for assigning guards to the particular event.The host will be creating the events for that particular fraternity.The host is responsible for maintaining the members of that fraternity.</p>
       </div>

   </div>
   <!--/.Card content-->

</div>
 <!--<p>Get know in detail about <mark>PartyGuard</mark></p>-->

 </div>
           <div class="col-md-12">
          <div class="card">


   <!--Card content-->

   <div class="card-block">
       <!--Title-->
       <h4 class="card-title"><b> Guard User  </b></h4>
       <!--Text-->
       <div class="card-text" style="list-style-type:circle">
         <p> Guard user is the assigned guard.Host assigns guards for the particular event.He has to stay sober for that event.Guard receives a notification in case of emergency.He has to react to that alert raised so that issue can be resolved.
</p>

       </div>


   </div>
   <!--/.Card content--</div>
 <!--<p>Get know in detail about <mark>PartyGuard</mark></p>-->

 </div>
           <div class="col-md-12">
          <div class="card">


   <!--Card content-->

   <div class="card-block">
       <!--Title-->
       <h4 class="card-title"><b>Basic User</b></h4>
       <!--Text-->
        <div class="card-text" style="list-style-type:circle">
          <p>Basic users are the members who are attending the party.They can raise alert in case of emergency.They can edit their profiles through web application.</p>

       </div>

   </div>
   <!--/.Card content-->

</div>
 <!--<p>Get know in detail about <mark>PartyGuard</mark></p>-->

 </div>

       </div>
           </div>
       </div>
